<!--COMP 229-005 Assignment 1-->
<!--Author: Camila Nieto-->
<!--ID: 301175110-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- CSS Section -->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />
<link rel="icon" href="./Assets/images/favicon2.png">
<style>
        .weight{
            left: -84px;
            bottom: -40px;
        }
    </style>
</head>
<body>

<!-- Main Navigation -->
 <!--By using bootstrap, it's added the Navbar-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <link rel="stylesheet" href="./Content/logo.css">
    <!-- Hexagon Division -->
    <div style='position:relative;width:100px;margin:0 auto;'>
    <div class='one'></div>
    <div class='two'></div>
    <div class='three'></div>
</div>
    </a> 


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

        <% if (title == "Home"){ %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"><i class="fa-solid fa-house"></i> Home</a>
        </li>
       
       <% if (title == "About") { %>
       <li class="nav-item active">
       <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/about"> About Me</a>
        </li>

        <% if (title == "Projects") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/projects"> Projects</a>
        </li>

        <% if (title == "Services") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/services"> Services</a>
        </li>

        <% if (title == "Contact") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/contact"> Contact</a>
        </li>

        <% if (title == "Contacts") { %>
        <li class="nav-item active">
        <% } else  { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/contact-list"> | <i class="fas fa-book"></i>  Contacts </a>
        </li>

       

        <% if(typeof displayName == 'string' && displayName) { %>
          <li class="navbar-text"> | <i class="fas fa-lg fa-user"></i>  Welcome, <%= displayName %> | </li>
          <li class="nav-item"><a href="/logout" class="nav-link">
            <i class="fas fa-lg fa-sign-out-alt"></i> Logout</a></li>
        <% } else { %>
          <li class="nav-item"><a href="/login" class="nav-link">
            <i class="fas fa-lg fa-sign-in-alt"></i> Login</a></li>
        <% } %>
       </ul>

  </div>
</nav>
